{
  "singleQuote": true,
  "semi": true,
  "tabWidth": 4,
  "useTabs": false,
  "trailingComma": "es5",
  "bracketSpacing": false,
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "tabWidth": 2
      }
    }
  ]
}